<h1>
	About Khoa
</h1>
<div class="center hero-unit">
<p>I am the loudest proudest member of the Fighting Class of 2014. I am currently studying Computer Science at Texas A&M. <br /> My favorite hobby are video games especially League of Legends. I love the game so much I created the collegiate team, Farmers Fighting. Our team Farmers Fighting has won two live events, one at Texas A&M and the other at Tulsa in Toyko. In order to  I created and maintain the Official Texas LoL Club website
	AMEsports.org. </p>
</div>
