<% provide(:title, 'C++ Scan Conversion') %>
<h1>Scan Convertion and Polygon Clipping</h1>
<a href="http://imgur.com/BPWNVJW"><img src="http://i.imgur.com/BPWNVJW.jpg" title="Hosted by imgur.com" /></a>
 <div class="ptext">  
 <p> Features:</p>
<p> Draw Polygons using scanline fill algorithm  <br>
	Different colors of polygons<br>
	Sutherland–Hodgman Clipping algorithm <br >
	Created in Visial Studios 2010 using OpenGL library<br>
	

	
	</p>
	 <p>Instructions:</p> 
	 <p>
	 Left click to create a point. Right click to close the polygon and fill it with a color
	 Press C to end the scanline and begin the Clipping. Left click and drag the box to clip.
	 </p>
</div>
*Requires OpenGL library<br />
<a href="http://www.mediafire.com/download/yrr52nrdcc9r255/HW1.exe" target="_blank">Exe</a>
<br />
<a href="http://www.mediafire.com/?5oe3f5i44gorpge" target="_blank">Source Code:</a>

