<% provide(:title, 'Contact') %>
<h1>Khoa Contact Info</h1>
<div class="center hero-unit">
<p>
	Email: Khoa.nguyen.bui@gmail.com
</p>
<p>
	Cell: 512-694-1636
</p>
<p>
	Address: 9804 Fallon Cove, Austin, TX , 78717
</p>
</div>
