<% provide(:title, 'Fanorona') %>
<h1> Khoa's Fanorona Game made in Java
</h1>
<a href="http://imgur.com/tfnBdA8"><img src="http://i.imgur.com/tfnBdA8.png?1" title="Hosted by imgur.com" /></a>
   <div class="ptext">  
 
</object>
 <embed id="testapplet"
       type="application/x-java-applet;version=1.6"
       width="400" height="400" 
       archive="fanorada.jar"
       code="Game.class"
       pluginspage="http://java.com/download/"
       myParam="My Param Value" />
 <p> Features:</p>
<p> LAN play using sockets  <br>
	Play vs Ai with 3 levels<br>
	Play vs another human<br >
	Different Game modes<br>
	Adjustable Settings<br>
	
	</p>
	
 <p>Instructions:</p> 

<p>
	To start a new game select "New Game" on the top left corner
	<br>
	To settings such as time, number of rows and columns, or AI settings select  "Setting"
	<br >
	Playing a game:<br>
	 White always goes first. Select a white piece. If it can move, a green highlight will show valid moves. <br>
	 To unselect just left click again. 
	 <br />
	 <a href="http://imgur.com/u73YBa1"><img src="http://i.imgur.com/u73YBa1.png" title="Hosted by imgur.com"/></a>
	  <br>
	  To capture a piece click on the valid green spot
	 If there are more than one valid pieces that can be captured, they will be highlighted in blue. Click on the blue piece to be captured
	 <br /> <a href="http://imgur.com/8CJLRXG"><img src="http://i.imgur.com/8CJLRXG.jpg" title="Hosted by imgur.com" /></a>
	  <br />
	  Click "Done" in the top right to end turn. Then it is black's turn.
	 <br>
	
	 
	  
</p>
 
</div>
<a href="http://www.mediafire.com/download/eqz9d1d48mpg57y/game-team08.rar" target="_blank">Source Code:</a>
