<% provide(:title, 'Projects') %>
<div class="center hero-unit">
  <h1>Khoa's Projects</h1>
  
  <h3>C++
  	</h3>
  	<p>
	 <%= link_to "Scan Convertion", '/clipping' %>
</p>

  	  <h3>Java
  	</h3>
<p>
	 <%= link_to "Fanorona", '/fanorona' %>
</p>


<h3> Rails</h3>
<p>
	<%= link_to "Khoa's Resume", '/rails' %>
</p>
</div>
