<% provide(:title, 'Qualifications') %>
<div class="center hero-unit">
<p>Languages: C++, Ruby On Rails, Java, Python, CSS, HTML, C</p>
<p> <%= link_to "Khoa's Project! ", '/main_pro'  %></p>

<h1>Education</h1>
<p>
	 2010 to Present-	CSCE
Texas A&M GPA(3.46)
<p>Spring 2013 (16 hours)- intro to Computer Systems, Programming Languages, Linear Algebra, Survey of Finance</p>
<p>Fall 2012 (13 hours)- Computer Organization, Computer Graphics(OpenGL), Music in World Cultures, Statistics </p>
<p>Spring 2011  (16 hours)- Intro to computing, structured programming in C, Data structure and Algorithm, Discrete math, Conditioning Swimming, Discrete Computing</p>
<p>Fall 2011 course work(16 hours)- Molecular Biology, Honors Organic Chemistry, intro Programming Design Concepts, College Physics, Conditioning Swimming</p>
<p>Spring 2011 course work (16 hours)- Biology, Honors Chemistry II, Programming I, Calculus II</p>

</p>
<h1>Work Experience</h1>
<p>Texas A&M	Part-time job
	<br />
Peer Tutor (Python, C, C++)	September, 2011 to Present<br />

Teach students the basics of python, C, and C++. Debug any logic or syntax errors that the students have
</p>
<p>Summer Intern 2013 at Neubus
	<br />
	Maintained SLQ databases
	<br />
	Parsed Json and text documents and converted them into SLQ date base using Ruby Scripts<br />
	<br />
	Updated and cleaned database using SLQ statements such as outer join <br />
	
	
	</p>
</div>
