<% provide(:title, 'Rails Website') %>
<h1>
	Rails web site
</h1>
<div class="center hero-unit">
<h2>Features</h2>
<p>Working Emailer</p>
<br />
Store, search , or update User table with SQL Database
<br />
Twitter BootStrap for better UI
<br />
Uses Heroku for free hosting
<br />
<a href="https://github.com/averageazn247/resume/archive/master.zip
" target="_blank">Source Code(ZIP):</a> 

</div>
